.primary-input {
  padding: 8px;
  box-sizing: border-box;
  transition: all 0.3s linear;
  border-radius: 8px;
  width: 100%;
  box-shadow: 2px 2px #f5f5f5;
  border: 2px solid #f5f5f5;
  margin-bottom: 10px;

  &:focus {
    border: 2px solid #e7e5e5;
    outline: none;
  }
}
